extends layout

append title
	title #{protooName} | #{t('firstRun.pageTitle')}

append styles
	link(rel='stylesheet', href='/stylesheets/login.css')


block content
	#loginText
		h1 #{t("firstRun.inlineTitle")} #{protooName}
			
		p	
			| #{t("firstRun.inlineExplanation_One")} <br /> 
			| #{t("firstRun.inlineExplanation_Two")} #{protooName}.

	include mixins/formHelpers
	+loginForm ("input", "/")
			
