extends ./layout

append title
	title #{protooName} | #{t('login.title')}


append scripts
	script(src='/javascripts/loginform.js')
	script(src='/javascripts/test.js')


block content
	#content
		h1 #{t("login.inlineTitle")}

		p
			i #{t("login.inlineExplanation_One")}
			br
			| #{t("login.inlineExplanation_Two")}

			include mixins/formHelpers
			+loginForm ("input", "/")

