extends ./layout

append title
	title #{protooName} | #{t('login.title')}


append scripts
	script(src='/javascripts/loginform.js')
	script(src='/javascripts/test.js')


block content
	#content
		h1 #{t("login.inlineTitle")}
	
		p
			| <i>#{t("login.inlineExplanation_One")}</i> <br />
			| #{t("login.inlineExplanation_Two")} <br />
		
			include mixins/formHelpers
			+loginForm ("input", "/")
			
