extends ./layout

append title
	title #{protooName} | #{t('login.title')}

append styles
	link(rel='stylesheet', href='/stylesheets/login.css')


block content
	h1 #{t("login.inlineTitle")}
	
	p
		| #{t("login.inlineExplanation_One")} <br />
		| #{t("login.inlineExplanation_Two")} <br />
		

	include mixins/formHelpers
	+loginForm ("input", "/")
			
