extends layout

append title
	title #{protooName} | #{t('login.title')}

append styles
	link(rel='stylesheet', href='/stylesheets/init.css')


block content
	h1 #{t("login.inlineTitle")}
	
	p
		| #{t("login.inlineExplanation_One")} <br />
		| #{t("login.inlineExplanation_Two")} <br />

	form(name="input", action="/", method="get")
		label
			| #{t("forms.userName")}: 
			input(type="text", name="user")
			<br />

		label
			| #{t("forms.passWord")}:  
			input(type="text", name="pswd")
			<br />
			
		input(class="button", type="submit", value=t("forms.submitButton"))
