mixin field(type, name, label)
	.field(class='field-' + type)
		input(type=type, name=name, onfocus="if (this.value=='#{name}') this.value = ''", onblur="if (this.value=='') this.value = '#{name}'", value=name)


mixin loginForm(formName, action)
	#loginForm
		form(name=formName, action=action, method="get")	
			mixin field('text', t("forms.userName")) 
			mixin field('text', t("forms.passWord")) <br />

				
			input(class="button", type="submit", value=t("forms.submitButton"))
	
