mixin field(type, name, label)
	.field(class='field-' + type)
		input(type=type, name=name, placeholder=name, autocomplete="off")


mixin loginForm(formName, action)
	#loginForm
		form(name=formName, action=action, method="get", autocomplete="off")	
			mixin field('text', t("forms.userName")) 
			mixin field('password', t("forms.passWord")) <br />

				
			input(class="button", type="submit", value=t("forms.submitButton"))
	
